@font-face {
  font-family: 'Fira Code';
  src: url('./FiraCode/FiraCode-Regular.tff') format('tff'),
    url("./FiraCode/FiraCode-Regular.tff") format("tff");
  font-weight: 400;
  font-style: normal;
}