@font-face {
  font-family: "Fira Code Light";
  src: url("./FiraCode/FiraCode-Light.tff") format("tff"),
    url("./FiraCode/FiraCode-Light.tff") format("tff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code Regular";
  src: url("./FiraCode/FiraCode-Regular.tff") format("tff"),
    url("./FiraCode/FiraCode-Regular.tff") format("tff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code Medium";
  src: url("./FiraCode/FiraCode-Medium.tff") format("tff"),
    url("./FiraCode/FiraCode-Medium.tff") format("tff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code SemiBold";
  src: url("./FiraCode/FiraCode-SemiBold.tff") format("tff"),
    url("./FiraCode/FiraCode-SemiBold.tff") format("tff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code Bold";
  src: url("./FiraCode/FiraCode-Bold.tff") format("tff"),
    url("./FiraCode/FiraCode-Bold.tff") format("tff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code Retina";
  src: url("./FiraCode/FiraCode-Retina.tff") format("tff"),
    url("./FiraCode/FiraCode-Retina.tff") format("tff");
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
}
